.center-authenticate-form{
    width: 100%;
    position: absolute;
    top:20%;
   
    
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-login{
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-bottom: 0.9rem;
}