.form-input-label {
  margin-bottom: 0;
  font-weight: 500;
  margin-left: 0.2rem;
  font-size: 1rem;
}

.form-input-label-error{
    color:#dd2146; 
}

.form-input-message{
    margin-top: 0.1rem;
    margin-bottom: 0;
  font-weight: 500;
  margin-left: 0.2rem;
  font-size: 0.8rem;
  display: none;
}

.form-control{
    margin: 0.3rem;
    margin-top: 0.5rem;
}

.form-input {
    border: 0;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #d7d6db;
    border-radius: 7px;
    
    margin: 0.2rem 0 0.1rem 0;
    font-size: inherit;
}

form input::placeholder {
    font-size: 0.8rem;
    color: #9d9d9f;
}

input:focus {
    border: 0.11rem solid #005f99;
}


.form-input-error{
    border: 1px solid #dd2146;
    color: #dd2146;
}

.form-input-error:focus{
    border: 0.11rem solid #dd2146;
}

.form-input-label-error{
    color: #dd2146;
    display: block;
}

textarea{
    
    font-family: "Montserrat", sans-serif;
    resize: vertical;
    
}

.h-40{
    height: 40px;
}

